.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    background-color: aliceblue;
    
}

.products-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
}

.card-container{
    background-color: antiquewhite;
    padding: 30px 20px;
}